[submodule ".config/espanso/test"]
	path = .config/espanso/match
	url = git@github.com:GabrielCoelho/espanso-matches.git
[submodule ".motiondvorakbr"]
	path = .motiondvorakbr
	url = https://github.com/GabrielCoelho/motiondvorakbr
