icons_format = "{icon}"

[theme]
theme = "gruvbox-dark"

[icons]
icons = "material-nf"

[[block]]
block = "music"
format = " $icon $volume_icon $combo $play $next| "
seek_step_secs = 10

[[block.click]]
button = "up"
action = "volume_up"

[[block.click]]
button = "down"
action = "volume_down"

[[block.click]]
button = "forward"
action = "seek_forward"

[[block.click]]
button = "back"
action = "seek_backward"

[[block]]
block = "net"
format = " $icon {$ssid |Wired connection}  $ip "

[[block]]
block = "external_ip"
use_ipv4 = true
format = " $ip $country_code "

[[block]]
block = "hueshift"
hue_shifter = "gammastep"
step = 50
click_temp = 3500

[[block]]
block = "temperature"
format = " $icon $max max "
format_alt = " $icon $min min, $max max, $average avg "
interval = 10
chip = "*-isa-*"

[[block]]
block = "notify"
format = " $icon {($notification_count.eng(w:1)) |}"

