icons_format = "{icon}"

[theme]
theme = "gruvbox-dark"

[icons]
icons = "material-nf"

[[block]]
block = "backlight"
device = "intel_backlight"
format = "$icon $brightness"
missing_format = "Backlight not used"

[[block]]
block = "focused_window"
[block.format]
full = " $title.str |"
short = " $title.str(max_w:10) |"


[[block]]
block = "disk_space"
path = "/"
info_type = "available"
alert_unit = "GB"
interval = 20
warning = 20.0
alert = 10.0
format = " $icon root: $available.eng(w:2) "

[[block]]
block = "keyboard_layout"
driver = "xkbevent"
format = " $layout "

[[block]]
block = "sound"
[[block.click]]
button = "left"
cmd = "pavucontrol"

[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:'%Y-%m-%d %H:%M') "

[[block]]
block = "battery"
format = " $percentage {$time_remaining.dur(hms:true, min_unit:m) |}"
device = "DisplayDevice"
driver = "upower"
